<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
     <remove name="constr"/>
    <add name="mySQLconn" connectionString="Data Source=localhost;Database=teamart;User ID=root; Password=''" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>